<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elite_Add_On_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Elite_Add_On_Helper.Properties.Settings>
            <setting name="edengineer_path" serializeAs="String">
                <value />
            </setting>
            <setting name="edmc_path" serializeAs="String">
                <value />
            </setting>
            <setting name="voiceattack_path" serializeAs="String">
                <value />
            </setting>
            <setting name="ed_discovery_path" serializeAs="String">
                <value />
            </setting>
            <setting name="edomhl_path" serializeAs="String">
                <value />
            </setting>
            <setting name="warthog_path" serializeAs="String">
                <value />
            </setting>
            <setting name="edenginner_cb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="edmc_cb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="voiceattack_cb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ed_discovery_cb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="edomgl_cb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="warthoc_cb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="edlaunch_path" serializeAs="String">
                <value />
            </setting>
            <setting name="edlaunch_cb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="warthog_pathtoscript" serializeAs="String">
                <value />
            </setting>
            <setting name="warthogscriptdir_cb" serializeAs="String">
                <value>False</value>
            </setting>
        </Elite_Add_On_Helper.Properties.Settings>
    </userSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>